.collection-wrap{
    display: flex;
    flex-direction: column;
    transition: 0.3s linear;
    width: 23%;
    margin:10px;
        &:hover{
            .background-image-div{
                .button-wrap{
                    display: flex;
                }
            }
        }
        .background-image-div{
            height: 350px;
            width: 100%;
            background-position: center;
            background-size: cover;
            position: relative;
                .button-wrap{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: none;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s linear;
                        button{
                            background-color: transparentize($color: #000000, $amount: 0.5);
                            color:white;
                            border:0px;
                            padding: 10px 15px;
                            transition: 0.3s linear;
                                &:hover{
                                    transform: scale(1.05);
                                    background-color: transparentize($color: #000000, $amount: 0);
                                }
                        }
                }
        }
        .collection-info{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
                p{
                    font-size: 14px;
                    font-weight: bold;
                    padding-top:5px;
                }
        }
}