.small-wraper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
        .small-menu{
            width: 31.33%;
            margin: 10px;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
                .info-wrap{
                    padding: 20px;
                    text-align: center;
                    border:1px solid grey;
                }
        }
        .large-menu{
            width: 48%;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            height: 250px;
            .info-wrap{
                padding: 20px;
                border:1px solid grey;
                text-align: center;
            }
        }
}